<div class="md-table-buttons">
  <% if policy(resource).show? %>
    <%= link_to("<md-button class='md-icon-button'><md-icon md-svg-icon='eye'></md-icon></md-button>".html_safe,
      resource
    ) %>
  <% end %>
  <% if policy(resource).edit? %>
    <%= link_to("<md-button class='md-icon-button'><md-icon md-svg-icon='pencil'></md-icon></md-button>".html_safe,
      [:edit, resource]
    ) %>
  <% end %>
  <% if policy(resource).destroy? %>
    <md-button
      aria-label="delete row button"
      ng-click="showServerRenderedDialog(
                  $event,
                  'Borttagning av <%= resource %>',
                  'Är du säker att du vill ta bort denna <%= resource %>',
                  'Removal Warning',
                  'Ja',
                  'Nej',
                  deleteRow, ['<%= url_for(resource)  %>', <%= resource.id %>])"
      class='md-icon-button delete-btn'><md-icon md-svg-icon='close-circle'></md-icon></md-button>
  <% end %>
</div>
