<div id="md" layout-margin layout="row" layout-align="space-between">
  <div class="md-breadcrumb flat">
    <% if action_name == "index" %>
        <a class="active">
          <%= @resource_class.model_name.human(count: 2) %>
        </a>
    </div>
    <% else %>
        <%= link_to @resource_class.model_name.human(count: 2), @resource_class %>
        <a class="active">
          <% if @resource.new_record? %>
            <%= t("helpers.submit.create", model: @resource_class.model_name.human) %>
          <% else %>
            <%= @resource.to_s %>
          <% end %>
        </a>
    </div>
    <% if @resource.persisted? %>
      <md-menu md-position-mode="target-right target">
        <!-- Trigger element is a md-button with an icon -->
        <md-button ng-click="$mdOpenMenu($event)" class="md-primary">
          <%= translate_scoped("actions.label") %>
        </md-button>
        <md-menu-content width="2">
          <% if policy(@resource).show? && action_name != "show" %>
            <md-menu-item>
              <%= link_to translate_scoped("actions.show"), @resource, class: 'md-button' %>
            </md-menu-item>
          <% end %>
          <% if policy(@resource).edit? && action_name != "edit" %>
            <md-menu-item>
              <%= link_to translate_scoped("actions.edit"), [:edit, @resource], class: 'md-button'  %>
            </md-menu-item>
          <% end %>
          <% if policy(@resource).destroy? %>
            <md-menu-item>
              <%= link_to translate_scoped("actions.destroy"), @resource, method: :delete,
                data: { confirm: translate_scoped("actions.confirm_message")}, class: 'md-button'  %>
            </md-menu-item>
          <% end %>
          <md-menu-item>
            <%= link_to t("helpers.submit.create", model: @resource.model_name.human), [:new, @resource], class: 'md-button'  %>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    <% end %>
  <% end %>
</div>