<%= form_for @resource do |f| %>
	<md-card layout-padding>
		<md-card-title>
			<md-card-title-text>
				<% if params['action'] == 'edit' %>
					<h3>Ändring av: <%= @resource %> </h3>
				<% else %>
					<h3>Skapande av <%= @resource_class.model_name.human(count: 2) %> </h3>
				<% end %>
			</md-card-title-text>
		</md-card-title>
		<md-card-content>
	  <% @resource_service.attrs_for_form.each do |attribute| %>
			    <% if f.object.class.reflect_on_association(attribute) %>
			      <%= f.association attribute %>
			    <% else %>
		  			<md-input-container>
			      	<%= f.input attribute %>
		  			</md-input-container>
			    <% end %>
	  <% end %>
		</md-card-content>
		<md-card-actions>
  		<md-button class="md-primary" type="submit">Save</md-button>
		</md-card-actions>
	</md-card>
<% end %>