<%= render partial: "breadcrumb" %>
<%= render partial: "scopes" %>
<div data-behavior="batch-actions-container">
  <%= render partial: "actions" %>
  <%= render partial: "filters" %>
</div>
<%= render partial: "table" %>
<div layout="column" layout-align="center center">
  <%= render partial: "pagination" %>
</div>
