<div layout="row" layout-align="space-between center" data-behavior="batch-actions-container">
	<%= render partial: "breadcrumb" %>
	<%= render partial: "scopes" %>
  <%= render partial: "actions" %>
  <%= render partial: "filters" %>
</div>
<%= render partial: "table" %>
<div layout="column" layout-align="center center">
  <%= render partial: "pagination" %>
</div>
