<% content_for :body do %>
  <div ng-app="godmin" ng-controller="GodminController" layout="column" layout-fill>
    <md-toolbar class="md-hue-2" layout-align="center center">
      <div class="md-toolbar-tools" layout="row" layout-fill>
        <h2 hide-xs hide-sm hide-md>
          <span class="brand-logo"><%= t("godmin.title") %></span>
        </h2>
        <md-button hide-gt-md ng-click="openSidenav()" class="md-icon-button" aria-label="Settings">
          <md-icon md-svg-icon="menu"></md-icon>
        </md-button>
        <span hide-xs hide-sm hide-md layout-fill layout="row">
          <%= render partial: File.join(engine_wrapper.namespaced_path, "shared/navigation"), locals: {side: false} %>
        </span>
        <span flex></span>
        <%= render partial: File.join(engine_wrapper.namespaced_path, "shared/navigation_aside") %>
        <% unless current_user.blank? %>
          <%= link_to('<md-button hide-xs hide-sm>Logga ut</md-button>'.html_safe, main_app.destroy_user_session_path, :method => :get) %>
        <% end %>
      </div>
    </md-toolbar>
    <md-sidenav hide-gt-md md-component-id="left" class="md-sidenav-left">
      <md-toolbar>
        <span class="md-toolbar-tools">
          <h2>
            <span class="brand-logo"><%= t("godmin.title") %></span>
          </h2>
        </span>
      </md-toolbar>
      <div>
        <%= render partial: File.join(engine_wrapper.namespaced_path, "shared/navigation"), locals: {side: true} %>
      </div>
    </md-sidenav>
    <md-content layout="column" layout-align="start center" md-no-flicker md-no-momentum>
      <div class="container mw">
        <%= render "layouts/godmin/content" %>
      </div>
    </md-content>
  </div>
<% end %>
<%= render "layouts/godmin/layout" %>